on boot

    start baseband-sh

service baseband-sh /vendor/bin/sh /vendor/etc/set_baseband.sh
    class late_start
    user root
    oneshot
    disabled

    # Double Tap to Wake
    chown system system /proc/gesture/onoff
    chmod 0660 /proc/gesture/onoff

    # Peel IR
    chown system system /dev/peel_ir
    chmod 0660 /dev/peel_ir

# fingerprint-goodix
service goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user root
    oneshot
